Repository anomatomato/linux-system-monitoring: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker-job, build, test_inotify_coredump

build-docker-job:
  stage: build-docker
  tags:
  - dind
  services:
  - docker:dind
  script:
  - echo "Building Docker image"
  - docker build -t $CI_REGISTRY_IMAGE/debian:latest .
  - echo "Pushing Docker image"
  - docker push $CI_REGISTRY_IMAGE/debian:latest

build:
  stage: build
  image: $CI_REGISTRY_IMAGE/debian:latest
  when: on_success
  allow_failure: false
  script:
  - mkdir -p build && cd build
  - cmake ..
  - make
  artifacts:
    paths:
    - build/
    expire_in: 1 week

test_inotify_coredump:
  stage: run
  image: $CI_REGISTRY_IMAGE/debian:latest
  allow_failure: false
  dependencies:
  - build
  script:
  - mkdir -p build && cd build
  - cmake ..
  - make
  - ctest -V inotify-coredump-test

library bridge
  src/posix-mq-to-mqtt-bridge/CMakeLists.txt
Due: none

added tests for bridge
  test/CMakeLists.txt
  test/test_bridge.cpp
Due: none

test bridge fixed
  test/test_bridge.cpp
Due: none

Fixed main in bridge
  src/posix-mq-to-mqtt-bridge/CMakeLists.txt
  src/posix-mq-to-mqtt-bridge/bridge.c
  src/posix-mq-to-mqtt-bridge/bridge.h
  src/posix-mq-to-mqtt-bridge/main.c
Due: none

Fixed hostname test in bridge
  test/test_bridge.cpp
Due: none

more mocking in inotirfy-coredump
  src/inotify-coredump/inotify-coredump.c
  src/posix-mq-to-mqtt-bridge/bridge.c
  test/CMakeLists.txt
  test/mock/MockInotifyCoredump.h
  test/test_inotify_coredump.cpp
Due: none

Added /usr/local/lib
  CMakeLists.txt
Due: build, test_inotify_coredump

Fixed inotify-coredump test
  test/CMakeLists.txt
  test/mock/MockInotifyCoredump.h
  test/test_inotify_coredump.cpp
Due: none

Added bridge-test to ci/cd
  .gitlab-ci.yml
Due: test_inotify_coredump

improved bridge
  src/posix-mq-to-mqtt-bridge/bridge.c
  src/posix-mq-to-mqtt-bridge/bridge.h
  src/posix-mq-to-mqtt-bridge/main.c
  test/test_bridge.cpp
Due: none

Fixed inotify-coredump test
  src/inotify-coredump/CMakeLists.txt
  test/CMakeLists.txt
  test/fixture/InotifyCoredumpFixture.h
  test/mock/MockInotifyCoredump.h
  test/mock/MockMq.h
  test/test_inotify_coredump.cpp
Due: none

new test for bridge added
  test/test_bridge.cpp
Due: none

fixes for bridge and new test
  src/posix-mq-to-mqtt-bridge/bridge.c
  src/posix-mq-to-mqtt-bridge/bridge.h
  test/test_bridge.cpp
Due: none

deleted comment
  test/test_bridge.cpp
Due: none

Corrected buffer sizes in add_hostname
  src/posix-mq-to-mqtt-bridge/bridge.c
  test/test_bridge.cpp
Due: none

Disabled bridge test
  .gitlab-ci.yml
Due: test_inotify_coredump

inotify-coredump: removed redundant printfs
  src/inotify-coredump/inotify-coredump.c
Due: none

Added paho-mqtt as Fetch-content to avoid dependencies
  CMakeLists.txt
  src/posix-mq-to-mqtt-bridge/CMakeLists.txt
  src/posix-mq-to-mqtt-bridge/bridge.c
  src/utilities/signal_handling.h
Due: build, test_inotify_coredump

Fixed inotify-coredump test in pipeline
  .gitlab-ci.yml
Due: test_inotify_coredump

Removed paho-mqtt from pipeline cache, not needed anymore
  .gitlab-ci.yml
Due: test_inotify_coredump

created a man page for bridge
  manpages/posix-mq-to-mqtt-bridge
Due: none

filter und cfr man
  manpages/cyclic-file-read
  manpages/sd-journal-filter
Due: none

manpage for inotify-coredump
  manpages/inotify-coredump
Due: none

man for inotify-coredump
  manpages/inotify-coredump
Due: none

updated dbus-systemd-signals
  src/dbus-systemd-signals/.DS_Store
Due: none

systemd services for bridge and cyclic-file-read added
  CMakeLists.txt
  systemd-services/argconfigs/cyclic-file-read.conf
  systemd-services/cyclic-file-read.service
  systemd-services/posix-mq-to-mqtt-bridge.service
Due: build, test_inotify_coredump

added inotify-coredump unit service
  CMakeLists.txt
  systemd-services/argconfigs/inotify-coredump.conf
  systemd-services/inotify-coredump.service
Due: build, test_inotify_coredump

deleted logs in onSend and edited manpage for bridge
  manpages/posix-mq-to-mqtt-bridge
  src/posix-mq-to-mqtt-bridge/bridge.c
Due: none

Fixed inotify-coredump-service
  CMakeLists.txt
  systemd-services/inotify-coredump.service
Due: build, test_inotify_coredump

Refined man page for inotify-coredump
  manpages/inotify-coredump
  manpages/inotify-coredump.man
Due: none

Remove external from .gitlab-ci.yml file
  .gitlab-ci.yml
Due: test_inotify_coredump

Surpressed warning with cmake policy
  CMakeLists.txt
Due: build, test_inotify_coredump

Removed redundancy
  CMakeLists.txt
Due: build, test_inotify_coredump

cfr update
  src/cyclic-file-read/src/common.c
  src/cyclic-file-read/src/cyclic-file-read.c
  src/cyclic-file-read/src/disk.c
  src/cyclic-file-read/src/pid.c
Due: none

inotify systemd service added
  CMakeLists.txt
  systemd-services/inotify-pacct.service
Due: build, test_inotify_coredump

fix after rebase
  CMakeLists.txt
Due: build, test_inotify_coredump

minor:inotify-coredump.man
  manpages/inotify-coredump.man
Due: none

Added find_package for paho-mqtt, if already installed and option for testing
  CMakeLists.txt
  src/posix-mq-to-mqtt-bridge/CMakeLists.txt
Due: build, test_inotify_coredump

man: renamed inotify-coredump
  manpages/inotify-coredump.8
Due: none

improve to reset pacct ile
  .vscode/tasks.json
Due: none

Path conditions:
  build-docker-job: any of: Dockerfile
  build: any of: CMakeLists.txt, src/, include/, Dockerfile
  test_inotify_coredump: any of: CMakeLists.txt, src/, test/, .gitlab-ci.yml, Dockerfile
