Repository anomatomato/linux-system-monitoring: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker-job, build, test_inotify_coredump

build-docker-job:
  stage: build-docker
  tags:
  - dind
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker info
  - cd extern/paho.mqtt.c
  - mkdir -p build && cd build
  - cmake ..
  - make install
  - cd ../../..
  script:
  - docker build -t $CI_REGISTRY_IMAGE/debian .
  ...

build:
  stage: build
  image: $CI_REGISTRY_IMAGE/debian:latest
  allow_failure: false
  script:
  - mkdir -p build && cd build
  - cmake ..
  - make
  artifacts:
    paths:
    - build/
    expire_in: 1 week
  needs:
  - job: build-docker-job
    optional: true

test_inotify_coredump:
  stage: run
  image: $CI_REGISTRY_IMAGE/debian:latest
  allow_failure: false
  needs:
  - job: build
  dependencies:
  - build
  script:
  - cd test/unit
  - ./inotify-coredump-test.sh

Dockerfile
  Dockerfile
Due: build-docker-job

find package for paho-mqtt
  CMakeLists.txt
  src/posix-mq-to-mqtt-bridge/CMakeLists.txt
Due: build, test_inotify_coredump

Fixed unit test inotify-coredump
  test/unit/inotify-coredump-test.sh
Due: none

paho-mqtt to Dockerfile
  Dockerfile
Due: build-docker-job

Remove paho-mqtt in .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build, test_inotify_coredump

Minor in .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build, test_inotify_coredump

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build, test_inotify_coredump

git to Dockerfile
  Dockerfile
Due: build-docker-job

Minor to pipeline
  .gitlab-ci.yml
Due: build, test_inotify_coredump

Deleted before_script .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build, test_inotify_coredump

Deleted dependency .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build, test_inotify_coredump

Fixed inotify-coredump test
  test/unit/inotify-coredump-test.sh
Due: none

Added prints to inotify-coredump-test
  test/create_coredumps/segmentation_fault.c
  test/unit/inotify-coredump-test.sh
Due: none

Configure coredumps
  Dockerfile
Due: build-docker-job

Reverted Dockerfile
  Dockerfile
Due: build-docker-job

Dockerfile: fixed cmake
  Dockerfile
Due: build-docker-job

updated cyclic-sysinfo
  src/cyclic-sysinfo/README.md
  src/cyclic-sysinfo/cyclic_sysinfo.c
Due: none

Dockerfile: fixed cmake ..
  Dockerfile
Due: build-docker-job

Improved inotify-coredump-test
  test/unit/inotify-coredump-test.sh
Due: none

Improved inotify-coredump-test-mode in src
  src/inotify-coredump/inotify-coredump.c
  src/inotify-coredump/main.c
Due: none

Improved line-protocol-parser
  src/utilities/line_protocol_parser.c
  src/utilities/mq.c
Due: none

debugging for test
  test/unit/inotify-coredump-test.sh
Due: none

extra coredump intest
  test/unit/inotify-coredump-test.sh
Due: none

Path conditions:
  build-docker-job: any of: Dockerfile
  build: any of: CMakeLists.txt, src/, include/, .gitlab-ci.yml
  test_inotify_coredump: any of: CMakeLists.txt, src/, include/, test/unit/, .gitlab-ci.yml
