Repository anomatomato/linux-system-monitoring: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docker-job, build

build-docker-job:
  stage: build-docker
  tags:
  - dind
  services:
  - docker:dind
  before_script:
  - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
  - docker info
  script:
  - echo "Building Docker image"
  - docker build -t $CI_REGISTRY_IMAGE/debian:latest .
  - echo "Pushing Docker image"
  ...

build:
  stage: build
  image: $CI_REGISTRY_IMAGE/debian:latest
  when: on_success
  allow_failure: false
  script:
  - mkdir -p build && cd build
  - cmake ..
  - make
  artifacts:
    paths:
    - build/
    expire_in: 1 week

Added more google test for inotify-coredump
  .vscode/settings.json
  include/utilities/mq.h
  src/inotify-coredump/inotify-coredump.c
  src/inotify-coredump/inotify-coredump.h
  src/inotify-coredump/main.c
  src/utilities/mq.c
  test/CMakeLists.txt
  test/data/inotify_coredump_buffer.txt
  test/fixtures.h
  test/test_inotify_coredump.cpp
  test/unity_test_inotify_coredump.c
Due: none

Removed print line
  src/utilities/mq.c
Due: none

Added more google test for inotify-coredump
  .vscode/settings.json
  src/inotify-coredump/inotify-coredump.c
  src/inotify-coredump/inotify-coredump.h
  src/inotify-coredump/main.c
  src/utilities/CMakeLists.txt
  src/utilities/mq.c
  src/utilities/wr_files.c
  test/CMakeLists.txt
  test/data/coredump_input.txt
  test/data/inotify_coredump_buffer.txt
  test/fixture/InotifyCoredumpFixture.h
  test/fixtures.h
  test/inotify-coredump-test.sh
  test/mock/MockMQ.h
  test/test_inotify_coredump.cpp
Due: none

mq without printing the message
  include/cyclic-file-read/common.h
  old_structure/cyclic-file-read/include/common.h
  old_structure/cyclic-file-read/src/common.c
  old_structure/cyclic-file-read/src/cycle-file-read.c
  old_structure/utilities/mq.c
  src/cyclic-file-read/common.c
  src/cyclic-file-read/cyclic-file-read.c
  src/utilities/mq.c
Due: none

Removed rktest from gitmodule
  .gitmodules
Due: none

Removed not used test file for ic
  test/unity_test_inotify_coredump.c
Due: none

Google test
  .gitignore
  .vscode/settings.json
  CMakeLists.txt
  external/CMakeLists.txt
  src/inotify-coredump/CMakeLists.txt
  src/inotify-coredump/inotify-coredump.c
  src/inotify-coredump/inotify-coredump.h
  src/inotify-coredump/main.c
  test/CMakeLists.txt
  test/test_inotify_coredump.cpp
  test/unity_test_inotify_coredump.c
Due: build

New
  .gitmodules
  CMakeLists.txt
  external/CMakeLists.txt
  include/utilities/signal_handling.h
  src/inotify-coredump/CMakeLists.txt
  src/inotify-coredump/inotify-coredump.c
  src/inotify-coredump/inotify-coredump.h
  test/CMakeLists.txt
  test/test_inotify_coredump.c
Due: build

New: submodule rktest for unit testing
  .gitmodules
Due: none

New
  .gitmodules
  external/CMakeLists.txt
  test/test_inotify_coredump.c
Due: none

Added more google test for inotify-coredump
  src/inotify-coredump/inotify-coredump.h
  test/CMakeLists.txt
Due: none

Google test
  external/CMakeLists.txt
  src/inotify-coredump/inotify-coredump.h
  test/CMakeLists.txt
  test/test_inotify_coredump.c
Due: none

Removed duplicate macros
  src/inotify-coredump/inotify-coredump.h
Due: none

Added gtest_discover_test
  CMakeLists.txt
  test/CMakeLists.txt
  test/test_inotify_coredump.cpp
Due: build

Added unique pointer
  test/mock/MockMQ.h
Due: none

Add gitmodule paho-mqtt
  .gitmodules
Due: none

Added inotify-coredump unit tests into pipeline
  .gitlab-ci.yml
  Dockerfile
  README.md
Due: build-docker-job, build

git submodule in pipeline
  .gitlab-ci.yml
  Dockerfile
Due: build-docker-job, build

Fixed git not found in pipeline
  .gitlab-ci.yml
Due: build

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build

more before_script .gitlab-ci.yml file
  .gitlab-ci.yml
Due: build

Added inotify-coredump test for send_coredump failure
  test/test_inotify_coredump.cpp
Due: none

Added test-utils and receive-coredump-test
  test/CMakeLists.txt
  test/mock/MockInotifyCoredump.h
  test/mock/MockMQ.h
  test/test_inotify_coredump.cpp
  test/test_utils/CMakeLists.txt
  test/test_utils/test_utils.cpp
  test/test_utils/test_utils.h
Due: none

Added error messages in ic-test
  test/test_inotify_coredump.cpp
Due: none

Removed old structure
  old_structure/inotify-coredump/CMakeLists.txt
  old_structure/inotify-coredump/inotify-coredump.c
  old_structure/inotify-coredump/inotify-coredump.h
  old_structure/inotify-coredump/main.c
  old_structure/inotify-pacct/src/inotify-pacct/inotify_pacct.h
  old_structure/inotify-pacct/src/pacct-to-line-protocol/pacct_to_line_protocol.h
  old_structure/inotify-pacct/src/process-accounting/pacct.h
  old_structure/posix-mq-to-mqtt-bridge/bridge.h
Due: none

Removed include
  include/cyclic-file-read/common.h
  include/cyclic-file-read/cyclic-file-read.h
  include/cyclic-file-read/disk.h
  include/cyclic-file-read/net.h
  include/cyclic-file-read/pid.h
  include/cyclic-file-read/stat.h
  include/cyclic-file-read/sys.h
  include/inotify-coredump/inotify-coredump.h
  include/inotify-pacct/inotify_pacct.h
  include/inotify-pacct/pacct.h
  include/inotify-pacct/pacct_to_line_protocol.h
  include/posix-mq-to-mqtt-bridge/bridge.h
  include/utilities/colored_output.h
  include/utilities/line_protocol_parser.h
  include/utilities/mq.h
  include/utilities/signal_handling.h
Due: none

Remove main.c
  main.c
Due: none

Reverted project structure
  src/cyclic-file-read/CMakeLists.txt
  src/cyclic-file-read/include/common.h
  src/cyclic-file-read/include/cyclic-file-read.h
  src/cyclic-file-read/include/disk.h
  src/cyclic-file-read/include/net.h
  src/cyclic-file-read/include/pid.h
  src/cyclic-file-read/include/stat.h
  src/cyclic-file-read/include/sys.h
  src/cyclic-file-read/src/common.c
  src/cyclic-file-read/src/cyclic-file-read.c
  src/cyclic-file-read/src/disk.c
  src/cyclic-file-read/src/net.c
  src/cyclic-file-read/src/pid.c
  src/cyclic-file-read/src/stat.c
  src/cyclic-file-read/src/sys.c
  src/inotify-pacct/CMakeLists.txt
  src/inotify-pacct/include/inotify_pacct.h
  src/inotify-pacct/include/pacct.h
  src/inotify-pacct/include/pacct_to_line_protocol.h
  src/inotify-pacct/src/inotify-pacct.c
  src/inotify-pacct/src/main.c
  src/inotify-pacct/src/pacct.c
  src/inotify-pacct/src/pacct_to_line_protocol.c
  src/posix-mq-to-mqtt-bridge/CMakeLists.txt
  src/posix-mq-to-mqtt-bridge/bridge.h
  src/utilities/CMakeLists.txt
  src/utilities/colored_output.h
  src/utilities/file_utils.c
  src/utilities/file_utils.h
  src/utilities/line_protocol_parser.h
  src/utilities/mq.h
  src/utilities/signal_handling.h
  src/utilities/wr_files.c
Due: none

Changed test structure
  test/CMakeLists.txt
  test/test_inotify_coredump.cpp
  test/test_utils/CMakeLists.txt
  test/test_utils/test_utils.cpp
  test/test_utils/test_utils.h
Due: none

cfr mit -c und -v
  src/cyclic-file-read/include/cyclic-file-read.h
  src/cyclic-file-read/src/cyclic-file-read.c
  src/cyclic-file-read/src/sys.c
Due: none

mq.c mit unlink
  src/cyclic-file-read/src/cyclic-file-read.c
  src/utilities/mq.c
Due: none

More tests
  src/posix-mq-to-mqtt-bridge/CMakeLists.txt
  src/posix-mq-to-mqtt-bridge/bridge.h
  test/test_inotify_coredump.cpp
Due: none

Path conditions:
  build-docker-job: any of: Dockerfile
  build: any of: CMakeLists.txt, src/, include/, .gitlab-ci.yml, Dockerfile
